@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 49%, rgba(237, 221, 83, 1) 100%);    
    transition: 0.5s;
}



.item {
    display: flex;
    align-items: center;
    gap: 1vh;
    margin-bottom: 0.5vh;
}

.item-place,
.item-face,
.item-view {
  display: inline-block;
}

.item-place {
    align-self: center;
    width: 2vh;
}

.item-face {
    height: 7vh;
}

.tab-selection {
    display: block;
    width: 100%;
    border: solid;
    text-align: center;
}

.tab-previousTab,
.